*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
 }

 .chapter1{
    justify-content: center;
    align-items: center;
    margin-left: 20px; 
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
 }
 .chapter2{
   justify-content: center;
   align-items: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter3{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter4{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter5{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter6{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter7{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter8{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter9{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .chapter10{
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
 }
 .c1{
    display: inline;
 }
 .c2{
    display: inline;
 }
 .c3{
    display: inline;
 }
 .c4{
    display: inline;
 }
 .c5{
    display: inline;
 }
 .c6{
    display: inline;
 }
 .c7{
    display: inline;
 }
 .c8{
    display: inline;
 }
 .c9{
   display: inline;
 }
 .c10{
    display: inline;
 }
 main button{
    background-color: black;
    color: white;
 }
 main button:hover{
    background-color: red;
    color: white;
    transition: 0.5s ease-in-out;
 }

